# Python
*.pyc

# LaTeX

group-report/*.aux
group-report/*.log
group-report/*.pdf
group-report/*.synctex.gz

# Agent evaluation and log files
*evaluation
evaluation-*
*dqn-model*
dqn-model-*
*tboard
tboard-*
dd-dqn/reward.txt
dd-dqn/average.txt

deepq\ \(raj\)/checkpoints
